##     Things covered in This notebook
*  Sorting values
*  Inplace : for overwriting the existing Series
*  Sorting the Series on the basis of INDEX
* 'in' keyword in  SERIES 
* Extracting the values based on the Index position
* Maths methos on the SERIES
* idxmax(index max) and idxmin(index min) method
* value_counts on Series
* Using apply method over a Series
* map for the Series

In [1]:
# definig a series:

import pandas as pd

data = pd.Series([21,3,43,66,435,63,24,67,67,88,43,2])
data

0      21
1       3
2      43
3      66
4     435
5      63
6      24
7      67
8      67
9      88
10     43
11      2
dtype: int64

In [2]:
# This is how we can sort the values in Series.
data.sort_values()    # so 'sort_Values()' is the method for sorting the values in Python.

11      2
1       3
0      21
6      24
2      43
10     43
5      63
3      66
7      67
8      67
9      88
4     435
dtype: int64

In [ ]:
#. Point to add here is that, we can even use more than one method in a Series. e.g.

# Head method we have come across during the R session. In Python it does the same operation.

data.sort_values().head()

#### Question)                        Is the default sorting done in the ascending or descending order?

In [20]:
# So to reverse the sorting, we have to look into the parmeters that are existing in the parenthesis.
# Please help me with it.


sort=data.sort_values(axis=0,ascending=False)
                 # Hint: Please remember that to check the parameters we have to press 'SHIFT' + 'TAB'.

In [21]:
sort

4     435
9      88
8      67
7      67
3      66
5      63
10     43
2      43
6      24
0      21
1       3
11      2
dtype: int64

In [15]:
#. How to overwrite the existing series.

# In the above scenario when we were writing the sort_values, though the operation was taking place unfortunately
# we were not able to make it permanent. How can we say that. Again when wrote data below, it gave the orignal series.

data

0      21
1       3
2      43
3      66
4     435
5      63
6      24
7      67
8      67
9      88
10     43
11      2
dtype: int64

In [18]:
# Using the parameter: 'inplace', helps us in generating the updated Series.

data.sort_values(inplace = True)
data

# So now we are able to overwrite the 
# another way could be by reassigning. This is the traditional way to go.

11      2
1       3
0      21
6      24
2      43
10     43
5      63
3      66
7      67
8      67
9      88
4     435
dtype: int64

#### Please help me in sorting the data in th descending order and also make sure we are overwriting the data.

In [ ]:
# Ans.

In [25]:
## In order to sort the values on the basis of the index, we have to write the below syntax.
data.sort_index()

# Above we can see how did the index looked like in the previous case. Now after using this syntax we have
# just transformed the index value.

0      21
1       3
2      43
3      66
4     435
5      63
6      24
7      67
8      67
9      88
10     43
11      2
dtype: int64

In [ ]:
## 'in' keyword in a Series.

# defining the new Series

colors = pd.Series(['green','blue','red','black','white','pink'])

In [ ]:
# Firstly let us discuss the usage of 'in' in the Python list. It was like:

lists = ['green','blue','red','black','white','pink']
'green' in lists   # look we are getting True

In [ ]:
# Let us try the same with the Pandas Series as well.
'green' in colors

# Reason why False is: Python looks at the index labels not the values in the series.

In [ ]:
# see, if I am writing 3 as index, we are getting True. This proves the point!
3 in colors.index

# 3 is found in the Series index.

In [ ]:
# Now in order to get the values, we should use something like this:
'green' in colors.values

In [ ]:
## Extracting the values based on the Index position:  I hope all of us remeber the Indexing. As it will
#. come in use now.  In case of the Series also the square brackets come handy.

colors[3]

In [ ]:
# Incase we want more than one value, we can fetch many.

colors[2:5]   # yes we are using the splicing here. And the fundamental rules are same here as well.
# i.e. the first element is inclusive and the lst element is exclusive.

In [ ]:
## Maths methos on the SERIES:
import numpy as np
# For this getting a new list

numbers = [432,23,134,77,5,245,67,99,156,753,np.NAN,44,39,8654,6,5]

numbers = pd.Series(numbers)

# Now please help me with this. (Why in the above case I hvae not used inplace?)

In [ ]:
# count: It counts the values:

numbers.count()
# okey it is telling that we have the count of 15. Does it mean we have 15 elements?

In [ ]:
# len: In order to know the number of elements in a Series, len has to be used cuz count does not take NAN into account
len(numbers)

In [ ]:
# sum: just the addition of all the elements.
numbers.sum()

In [ ]:
# mean: mean of all the values.
numbers.mean()

In [ ]:
# std: is also available here.
numbers.std()

In [ ]:
# median is also present/ also the mode is present.
print(numbers.median())
print(numbers.mode())

In [ ]:
# describe: is interesting inbuilt. It does most of the things we have seen till now.
numbers.describe()

In [ ]:
## idmax() and idmin() methods.
numbers.idxmax()

In [ ]:
# now in order to see this largest value, we could use the indexing.
numbers[13]

In [ ]:
# Here we will get to know the position of the smallest value. 
numbers.idxmin()

In [ ]:
# Again using indexing to fetch the samllest value.
numbers[]

In [ ]:
## Or the easiest way to do the above in simple step is:
numbers[numbers.idxmax()]   # here we go, everthing in one go.

In [27]:
import numpy as np

In [28]:
### value_counts() over the Series is somewhat like pivot tables in excel.
# for this again we have to define another kind of Series

num = [12,3,23,4,32,12,55,434,12,3,np.NAN,23,9,0,23,4,115,np.NAN,12,546,32]
num = pd.Series(num)

In [29]:
# value counts just loops through the entire Series and counts the value each time it occurs.
num.value_counts()

12.0     4
23.0     3
32.0     2
4.0      2
3.0      2
546.0    1
115.0    1
0.0      1
9.0      1
434.0    1
55.0     1
dtype: int64

### Also now please play with the parameter over here. 
ascending, dropna and bins

In [ ]:
### apply() method over a Series:
# apply absically expects us create a function and then apply on every elemt of the Series

# we are taking the num series for this illustration.

In [ ]:
# we are going to define a functin, that will return 'too low' if the value is below 12 otherwise 'looks good'.

def values(loading):
    '''this function will return 'too low' if the value is below 12 otherwise 'looks good'.'''
    if loading < 12:
        return 'too low'
    else: 
        return 'looks good'

In [ ]:
# and now we are applying our function on the Series.
num.apply(values)

In [32]:
pokemon=pd.read_csv('pokemon.csv')

In [33]:
pokemon

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [34]:
##. map method on a Series.
# Dataset that we would use to understand map is the pokemon dataset.

pokemon_names = pd.read_csv('pokemon.csv', usecols = ['Pokemon'], squeeze = True)
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [31]:
pokemon_types = pd.read_csv('pokemon.csv', index_col = 'Pokemon', squeeze = True)
pokemon_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [ ]:
# suppose above two Series came from two different files. We want to perform Vlookup.
pokemon_names.map(pokemon_types)

# It has looked up for all the values on the basis of the Pokemon and given in form of a Vlookup.
#It is handy when we have two datasets and we want to map them together specially when they come from different sources

####  Exercise:

Q1- First we will learn how to get toy dataset from sklearn library. Then we will proceed further?